
{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Don Sebaa</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum odio quisquam excepturi assumenda itaque explicabo voluptates nihil amet alias cupiditate nobis</span>
    </div>
    <div class="col-4">
        <img src="assets/img/Unknown.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}